*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'openSans';
    src: url(fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)format('truetype');
}

@font-face {
    font-family: 'popins';
    src: url(fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

body{
    font-family: 'popins';
}























/*HEADER*/
header{
    background: url(images/bg-hero-desktop.svg) no-repeat center center/cover ;
    
}

nav{
    display: flex;
    flex-direction: row;          
    justify-content: space-between;
    padding: 2rem ; 
    align-items: center;
}
nav img {
    width: 14vw;
    height: 4vh;
}
.header-flex{
    display: flex;
    flex-direction: row;
    padding: 4rem;
}
#header-img img{
    width: 50vw;
}
.header-flex article{
    margin: auto 2rem auto 0;
}
article h1{
    margin-bottom: 1rem;
}
article p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
.btn-free{
 border: none;
 background-color: rgb(255, 82, 192);
 color: white;
 padding: 0.5rem 1em;
 border-radius: 3rem;


}

/*MAIN AREA*/
main{
    padding:2rem;
}
.main-area{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: 0.1rem solid rgba(0, 0, 0, 0.053);
    padding: 2rem  3rem;
    border-radius: 1rem;
    justify-content: space-between;
}
.area1{
    margin-bottom: 1.5rem;
}
.area2{
    margin-bottom: 1.5rem;
}

.main-area img{
  width: 30vw;

}
.main-area article{
    margin: auto 0;
    width: 50%;
}



/*ASIDE*/
aside{
    padding:2rem;  
}
.aside-area{
    padding:2rem;
    background-color: #ffff;
    color: hsl(192, 100%, 9%);
    box-shadow: 0rem 0rem 2rem #00000021;
    border-radius: 0.5rem;  
    width: 40vw;
    position: relative;
    top: 4rem;
    margin: 0 auto;
    text-align: center;
}
.aside-area h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
}


/*FOOTER*/
footer{
    background-color: hsl(192, 100%, 9%);
    padding: 2rem;
    height: auto;
    color: white;
}

.footer-area{
    padding: 3rem;
    display: flex;
    flex-direction: row;
    color: white;
}
.ft-ar{
    width:40vw;   
}
.ul {
   margin: auto 0;
   font-size: 0.9rem;
}
.ul li{
 margin-bottom: 0.5rem;
}
.ul li a{
   text-decoration: none;
   color: white;
}
.ul li a:hover{
    text-decoration: underline;
    
 }
.icon{
    margin: auto 0;

}
.icon img{
    width: 24px;
}
.location{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.location img{
  width: 3%;
  height: 4%;
  margin: auto 0;
  margin-right: 0.4rem;
}
.location p {
    width: 74%;
    font-size: 0.8rem;
}
.phone{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.phone img{
    width: 3%;
    height: 4%;
    margin: auto 0;
    margin-right: 0.4rem;
  }
.email{
    display: flex;
    flex-direction: row;
}
.email img{
    width: 3%;
    height: 4%;
    margin: auto 0;
    margin-right: 0.4rem;
  }


#copy{
    text-align: right;
    font-size: 0.6rem;
    padding-right: 2rem;
}

/*BUTTONS*/
#btn-nav {
    background-color: #ffff;
    border-radius: 3rem;
    padding: 0rem;
    border: none;
    width: 16vw;
    height: 6vh;
    color:hsl(192, 100%, 9%);
    box-shadow: 0rem 0rem 2rem #00000021;
    cursor: pointer;
}
#btn-nav:hover {
    background-color: hsl(192, 100%, 9%);
    color: #ffff;
    box-shadow: 0rem 0rem 2rem #00000021;
    cursor: pointer;
}

.btn-free{
    border: none;
    background-color: rgb(255, 82, 192);
    color: white;
    padding: 0.5rem 1em;
    border-radius: 3rem; 
    cursor: pointer; 
}
.btn-free:hover{
    border: 1px solid rgb(255, 82, 192);
    background-color: #ffff;
    color: rgb(255, 82, 192);
    cursor: pointer;
  
}








@media (max-width: 425px){
    nav img {
        width: 27vw;
        height: 3vh;
    }
    #btn-nav {
        width: 30vw;
        cursor: pointer;
    }   
    .header-flex {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .header-flex article {
        margin: auto;
        text-align: center;
    }
    #header-img img {
        width: 76vw;
    }
    #header-img {
        margin: 2rem auto;
    }

    article h1 {
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 1rem;
    }
    article p {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        text-align: center;
    }



    .main-area {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
       
    }

    .main-area img {
        order: -1;
        width: 62vw;
    }
    .main-area article {
        margin: auto 0;
        width: 100%;
    }

    .aside-area {
        width: 50vw;
    }
    aside {
        padding: 0 2rem;
    }
    .footer-area {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 3rem;
    }
    .location p {
        width: 100%;
        font-size: 0.8rem;
    }
    .location img {
        width: 11%;
        height: 11%;
        margin: auto 0;
        margin-right: 0.4rem;
    }
    .phone img {
        width: 11%;
        height: 10%;
        margin: auto 0;
        margin-right: 0.4rem;
    }
    .email img {
        width: 11%;
        height: 11%;
        margin: auto 0;
        margin-right: 0.4rem;
    }
    .ul {
        margin: auto 0;
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
    
    
}